# Ignore Maven/Gradle build folders
/.gradle
/build

# Ignore IDE files
/.idea
/.vscode
*.iml

# Ignore local environment files
*.env
*.log

# Ignore any files not required for the container
.git
.dockerignore
Dockerfile
